/* 左浮、右浮 */
.fn-left, .fn-right {
    display: inline
}

.fn-left {
    float: left
}

.fn-right {
    float: right
}

/* 清理浮动 */
.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.fn-clear {
    zoom: 1
}