#header {
    padding: 30px 0;
}

#header div {
    margin: 0 auto;
    width: 650px;
}
#logo{
    -webkit-transition:-webkit-transform 1s;
}
#logo:hover{
    -webkit-transform:rotate(360deg);
}

#title {
    margin: 0 0 0 90px;
    font: 700 50px/1 SimHei;
    letter-spacing: 5px;
}

#title .sub-title {
    font-size: 20px;
    color: #999;
    padding: 0 0 0 240px;
    font-weight: normal;
    letter-spacing: 0;
}

#nav {
    background: #eee;
    height: 64px;
}

